{
  "sprint_days": 7,
  "last_velocity": 21,
  "carryover_points": 2,
  "velocity_log": "mock-velocity-log.json",
  "velocity_window": 3,
  "resources": [
    {
      "name": "Dev1",
      "last_pto_days": 2,
      "last_pct_avail": 85,
      "next_pto_days": 1,
      "next_pct_avail": 95
    },
    {
      "name": "Dev2",
      "last_pto_days": 1,
      "last_pct_avail": 75,
      "next_pto_days": 0,
      "next_pct_avail": 80
    },
    {
      "name": "Dev3",
      "last_pto_days": 3,
      "last_pct_avail": 90,
      "next_pto_days": 2,
      "next_pct_avail": 70
    }
  ]
}
