[
    {
        "sprint": 1,
        "committed_points": 10,
        "completed_points": 35,
        "carryover_points": 6,
        "actual_dev_days": 27,
        "notes": "planned velocity for this sprint was arbitrary"
    },
    {
        "sprint": 2,
        "committed_points": 31,
        "completed_points": 13,
        "carryover_points": 15,
        "actual_dev_days": 19.3,
        "notes": "many sickdays, unplanned holidays"
    },
    {
        "sprint": 3,
        "committed_points": 12,
        "completed_points": 46,
        "carryover_points": 2,
        "actual_dev_days": 27.1,
        "notes": ""
    },
    {
        "sprint": 4,
        "committed_points": 43,
        "completed_points": 51,
        "carryover_points": 6,
        "actual_dev_days": 25.4,
        "notes": "Mathew was involved in monitoring BrainTree"
    }
]
